body {
  text-align: center;
  background-color: #fff0f5;
  font-family: 'Segoe UI', sans-serif;
}

#camera {
  width: 320px;
  height: 240px;
  margin: 20px auto;
  border: 2px dashed #d63384;
}

.photos img {
  width: 100px;
  margin: 10px;
  border: 2px solid #ff69b4;
}

body{
    background-color: #fff0f5;
    color: #333;
}